[submodule "addons/dashboard_widgets"]
	path = addons/dashboard_widgets
	url = git@github.com:innovds/dashboard_widget.git
[submodule "addons/odoo_marketplace"]
	path = addons/odoo_marketplace
	url = git@github.com:innovds/odoo_marketplace.git
[submodule "addons/ids_printing"]
	path = addons/ids_printing
	url = git@github.com:innovds/ids_printing.git
