[submodule "addons/ids_printing"]
	path = addons/ids_printing
	url = git@github.com:innovds/ids_printing.git
[submodule "addons/ids_model_3d_widget"]
	path = addons/ids_model_3d_widget
	url = git@github.com:innovds/ids_model_3d_widget.git
	branch = master
[submodule "addons/ids_product_model_3d"]
	path = addons/ids_product_model_3d
	url = git@github.com:innovds/ids_product_model_3d.git
	branch = master
[submodule "addons/ids_website_sale_product_model_3d"]
	path = addons/ids_website_sale_product_model_3d
	url = git@github.com:innovds/ids_website_sale_product_model_3d.git
	branch = master
[submodule "addons/odoo_marketplace"]
	path = addons/odoo_marketplace
	url = git@github.com:innovds/odoo_marketplace.git
	branch = master
[submodule "addons/ids_mp_product_model_3d"]
	path = addons/ids_mp_product_model_3d
	url = git@github.com:innovds/ids_mp_product_model_3d.git
	branch = master
